@import "../../functions.scss";

ion-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6f73fc;
    height: 40px;
    width: 40px;

    ion-icon, ion-img {
        overflow: visible !important;
        height: 18px;
        width: 18px;
    }
}

.running-header {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-label {
        margin-top: 0;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1.63px;
        color: #ffffff;
    }
}

.running-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
    padding: 14px;

    .running-app {
        margin-bottom: 14px;
        width: 386px;
        height: 59px;
        border-radius: 9px;
        background-color: #232bbe;
        border-bottom: none;
        box-shadow: none;

        .running-logo {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .running-content {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            ion-label {
                h2 {
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 1.23;
                    color: #ffffff;
                }
        
                p {
                    color: #ffffff !important;
                    font-size: 10px !important;
                    line-height: 1.29;
                }
            }
        }
    }
}
