
@import "../../functions.scss";

ion-list {
    margin-top: px2rem(108px);

    ion-item {
        // margin-bottom: px2rem(50px);
        height: px2rem(112px);
    }

    ion-thumbnail {
        width: px2rem(112px);
        height: px2rem(112px);
        padding: 8px;

        img {
            border-radius: 6px;
        }
    }

    ion-label {
        margin-left: px2rem(24px);

        h2 {
            font-size: 16px !important;
        }

        p {
            font-size: 12px !important;
            color: #666666;
        }
    }
}

ion-note {
    font-size: 14px;
}
