<!--
  Generated template for the ManagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header no-border class="tab-header">
  <ion-navbar>
    <h2>应用程序管理</h2>
  </ion-navbar>
</ion-header>

<ion-content class="no-padding">
  <ion-grid>
    <!--<ion-card class="import-box" (click)="importFromEpk()">-->
      <!--<img src="assets/icon/icon-add.png" alt="">-->
      <!--<div class="sub-ttl">从本地添加应用</div>-->
    <!--</ion-card>-->

    <ion-list class="mgt-list">
      <ion-item *ngFor="let item of getAppInfoList(), let i = index">
        <ion-checkbox ng-checked="checked" (click)='checkApp(item)'></ion-checkbox>
        <ion-thumbnail item-start class="full-row" (click)="goInfo(item)">
          <img src={{item.bigIcon}} alt="">
          <div class="thum-inner">
            <h2>{{item.name}}</h2>
          </div>
          <button ion-button clear item-end class="rt-icon"></button>
        </ion-thumbnail>
      </ion-item>
    </ion-list>

    <ion-card class="card-del" *ngIf="isShow" (click)="doDel()">
      删除应用
    </ion-card>
  </ion-grid>
</ion-content>
