@import "../../functions.scss";

ion-label {
    margin-left: 10px;
}

ion-list {
    margin-top: px2rem(180px);

    ion-item {
        height: px2rem(104px);
    }
    ion-icon {
        margin: 10px;
        width: px2rem(32px);
        height: px2rem(32px);
    }
    ion-label {
        font-size: 18px;
    }
    ion-note {
        font-size: 16px;
    }

}
