<ion-header>
	<header-bar title="my"></header-bar>
</ion-header>

<ion-content class="no-padding">

	<div id="person">
		<ion-toolbar>
			<ion-avatar slot="start">
				<img src="assets/icon/avatar.png" />
			</ion-avatar>
			<ion-label>My user</ion-label>
			<ion-button slot="end" [routerLink]="['/my']" routerDirection="forward">
				{{'my-account' | translate}}
			</ion-button>
		</ion-toolbar>
	</div>
	<ion-list>
		<ion-item *ngFor="let item of infos" detail [routerLink]="[item.route]" routerDirection="forward">
			<ion-icon name="{{item.icon}}"></ion-icon>
			<ion-label>{{item.label | translate}}</ion-label>
			<ion-note slot="end">{{item.note}}</ion-note>
		</ion-item>
	</ion-list>
</ion-content>