@import "../../functions.scss";

ion-list {
    margin-top: px2rem(135px);

    ion-item {
        height: px2rem(104px);
    }
    ion-icon {
        margin: 10px;
        width: px2rem(32px);
        height: px2rem(32px);
    }
    ion-label {
        margin-left: 10px;
        font-size: 18px;
    }
    ion-note {
        font-size: 16px;
        margin: 0 8px 8px 0;
    }

}
