<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button icon="back"></ion-back-button>
		</ion-buttons>
		<ion-title>{{'my' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="no-padding">
	<ion-toolbar id="person">
		<ion-avatar slot="start">
			<img src="assets/icon/avatar.png" />
		</ion-avatar>
		<ion-label>Chen DX</ion-label>
		<ion-button slot="end" [routerLink]="['/my']" routerDirection="forward">
			{{'my-account' | translate}}
		</ion-button>
	</ion-toolbar>
	<!-- <div class="demo_line"></div> -->
	<ion-list>
		<ion-item *ngFor="let item of infos" detail [routerLink]="[item.route]" routerDirection="forward">
			<ion-icon name="{{item.icon}}"></ion-icon>
			<ion-label>{{item.label | translate}}</ion-label>
			<ion-note slot="end">{{item.note}}</ion-note>
		</ion-item>
	</ion-list>
</ion-content>