.container {
  min-height: 100%;
  
  ion-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6f73fc;
    height: 40px;
    width: 40px;

    ion-icon, ion-img {
        overflow: visible !important;
        height: 18px;
        width: 18px;
    }
  }

  .logo-container {
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.11);

    ion-img {
      height: 68.9px;
      width: 70.1px;
    }
  }

  .apps-container {
    ion-row {
      min-height: 61px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.11);
      box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.11);

      .caret-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
        ion-avatar {
          display: flex;
          justify-content: center;
          align-items: center;
          background-image: linear-gradient(269deg, #5a62ff 99%, #6d56e8 1%);
          height: 40px;
          width: 40px;
      
          ion-icon, ion-img {
            overflow: visible !important;
            height: 18px;
            width: 18px;
          }
        }
      }
    
      .title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
        ion-label {
          // color: white;
          font-size: 14px;
          letter-spacing: 1.63px;
          line-height: 52px;
        }
      }

      .detail-arrow {
        display: flex;
        justify-content: center;
        align-items: center;

        ion-img {
          height: 16.2px;
          width: 8.7px;
        }
      }

      .description-container {
        .description {
          border-bottom: none;
          box-shadow: none;
  
          .bullet {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
  
            span {
              font-size: 30px;
            }
          }
  
          p {
            font-size: 10px;
            font-weight: 500;
            line-height: 1.6;
            letter-spacing: 0.15px;
            text-align: left;
            margin-bottom: 0;
            color: #ffffff;
          }
        }

        .button {
          h5 {
            font-size: 9px;
            color: #5b62ff;
          }
        }
      }

      .fav-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 9px 27px;

        .fav-app {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70px;
          height: 80px;

          div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            ion-label {
              padding-top: 5px;
              font-size: 9px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}