.container {
  min-height: 100%;

  .item {
    min-height: 61px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.11);
  }
  
  ion-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;

    ion-icon, ion-img {
        overflow: visible !important;
        height: 18px;
        width: 18px;
    }
  }

  .logo-container {
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.11);

    ion-img {
      height: 68.9px;
      width: 70.1px;
    }
  }

  .favs-container {
    .fav-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 9px 27px;

      .fav-app {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 80px;

        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          ion-label {
            padding-top: 5px;
            font-size: 9px;
            font-weight: 500;
          }
        }
      }
    }
  }

  .apps-container {
    .caret-arrow-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .app-logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  
    .app-title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  
      ion-label {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1.63px;
        line-height: 52px;
      }
    }

    .detail-arrow-icon {
      display: flex;
      justify-content: center;
      align-items: center;

      ion-img {
        height: 8.2px;
        width: 4.4px;
      }
    }

    .info-container {
      .bullet-icon {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        span {
          font-size: 30px;
        }
      }

      p {
        font-size: 10px;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0.15px;
        text-align: left;
        margin-bottom: 0;
      }

      .link-row {
        padding: 10px 0;

        .link-icon {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding-right: 0;

          ion-img {
            width: 15px;
            height: 15px;
            margin-top: 3px;
          }
        }

        h5 {
          font-size: 9px;
          color: #5b62ff;
        }
      }
    }
  }
}