<ion-header>
    <header-bar title="app-info"></header-bar>
</ion-header>

<ion-content>
    <div></div>
    <ion-list>
        <div id="main">
            <ion-toolbar>
                <ion-thumbnail slot="start">
                    <img [src]="appManager.sanitize(appManager.appInfos[id].icons[0].src)" alt="">
                </ion-thumbnail>
                <ion-label id="appname">
                    <h2>{{appManager.appInfos[id].name}}</h2>
                    <p>{{appManager.appInfos[id].version}}</p>
                    <p>{{appManager.appInfos[id].description}}</p>
                </ion-label>
                <ion-button slot="end" [routerLink]="['/update']" routerDirection="forward">
                    {{'update' | translate}}
                </ion-button>
            </ion-toolbar>
        </div>
        <!-- <ion-item>
            <ion-label>
                {{'description' | translate}}
            </ion-label>
            <ion-note slot="end">
                {{appManager.appInfos[id].description}}
            </ion-note>
        </ion-item> -->
        <div class="item">
            <ion-toolbar>
                <ion-label>{{'developer' | translate}}</ion-label>
                <ion-note slot="end">{{appManager.appInfos[id].authorName}}</ion-note>
            </ion-toolbar>
        </div>
        <div class="item">
            <ion-toolbar>
                <ion-label>{{'sign' | translate}}</ion-label>
                <ion-note slot="end">123ABC</ion-note>
            </ion-toolbar>
        </div>
    </ion-list>
    <div *ngIf="appManager.appInfos[id].plugins.length > 0" class="authority">
        <div class="item">
            <ion-toolbar>
                <ion-label>{{'plugins-authority' | translate}}</ion-label>
            </ion-toolbar>
        </div>
        <ion-list class="authority_list">
            <ion-item *ngFor="let item of appManager.appInfos[id].plugins">
                <ion-label>
                    {{item.plugin}}
                </ion-label>
                <img src="assets/img/slide-open.png" *ngIf="item.authority==2" (click)="pluginAuthority(item, 3)" />
                <img src="assets/img/slide-close.png" *ngIf="item.authority!=2" (click)="pluginAuthority(item, 2)" />
            </ion-item>
        </ion-list>
    </div>
    <div *ngIf="appManager.appInfos[id].urls.length > 0" class="authority">
        <div class="item">
            <ion-toolbar>
                <ion-label>{{'urls-authority' | translate}}</ion-label>
            </ion-toolbar>
        </div>
        <ion-list class="authority_list">
            <ion-item *ngFor="let item of appManager.appInfos[id].urls">
                <ion-label>
                    {{item.url}}
                </ion-label>
                <img src="assets/img/slide-open.png" *ngIf="item.authority==2" (click)="urlAuthority(item, 3)" />
                <img src="assets/img/slide-close.png" *ngIf="item.authority!=2" (click)="urlAuthority(item, 2)" />
            </ion-item>
        </ion-list>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button id="uninstall" (click)="unInstallClick()">{{'uninstall' | translate}}</ion-button>
    </ion-toolbar>
</ion-footer>