@import "../../functions.scss";

ion-list {
    margin-top: px2rem(135px);

    ion-item {
        height: px2rem(104px);
        font-size: 18px;

        ion-icon {
            width: px2rem(32px);
            height: px2rem(32px);
        }
    }
}