<ion-content class="no-padding">
  <ion-grid class="mt-48">
    <ion-row class="app-contain">
      <ion-col col-3 class="t-center" *ngFor="let item of getAppInfoList(), let i = index" (press)="pressEvent()"
        (click)="onClick(item)">
        <img src={{item.bigIcon}} alt="">
        <span *ngIf="checked" class="del-ioc" (click)="delEvent(item)"></span>
        <h3>{{item.name}}</h3>
      </ion-col>
    </ion-row>

    <!--<ion-row class="app-contain">-->
      <!--<ion-col col-3 class="t-center">-->
        <!--<img src="assets/imgs/logo.png" alt="" srcset="">-->
        <!--<span class="del-ioc"></span>-->
        <!--<h3>水滴</h3>-->
      <!--</ion-col>-->
      <!--<ion-col col-3 class="t-center">-->
        <!--<img src="assets/icon/icon-music.png" alt="" srcset="">-->
        <!--<span class="del-ioc"></span>-->
        <!--<h3>蝌蚪音乐</h3>-->
      <!--</ion-col>-->
      <!--<ion-col col-3 class="t-center">-->
        <!--<img src="assets/icon/icon-pocket.png" alt="" srcset="">-->
        <!--<span class="del-ioc"></span>-->
        <!--<h3>口袋购物</h3>-->
      <!--</ion-col>-->
      <!--<ion-col col-3 class="t-center">-->
        <!--<img src="assets/icon/icon-cal.png" alt="" srcset="">-->
        <!--<span class="del-ioc"></span>-->
        <!--<h3>日历</h3>-->
      <!--</ion-col>-->
    <!--</ion-row>-->

    <ion-card class="home-tab">
      <div class="tab-lt">
        <img src="assets/icon/icon-home.png" alt="" srcset="">
      </div>
      <div class="tab-lt" (click)="goManager()">
        <img src="assets/icon/icon-music.png" alt="" srcset="">
      </div>
      <div class="tab-rt" (click)="goTabs()">
        <img src="assets/icon/icon-cal.png" alt="" srcset="">
      </div>
      <div class="tab-rt" (click)="goToMy()">
        <img src="assets/icon/icon-setting.png" alt="" srcset="">
      </div>
    </ion-card>
  </ion-grid>
</ion-content>