<ion-content class="no-padding">
  <ion-grid class="mt-48">
    <ion-row class="main-contain">
      <ion-col class="main-section" col-3 *ngFor="let item of getAppInfoList(), let i = index" (press)="pressEvent()"
        (click)="onClick(item)">
        <img src={{item.bigIcon}} alt="">
        <span *ngIf="checked" class="del-ioc" (click)="delEvent(item)"></span>
        <div class="app-title">{{item.name}}</div>
      </ion-col>
    </ion-row>

    <ion-row class="app-contain">
      <ion-col col-3>
        <img src="assets/imgs/logo.png" alt="" srcset="">
        <h3>水滴</h3>
      </ion-col>
      <ion-col col-3>
        <img src="assets/icon/icon-music.png" alt="" srcset="">
        <h3>蝌蚪音乐</h3>
      </ion-col>
      <ion-col col-3>
        <img src="assets/icon/icon-pocket.png" alt="" srcset="">
        <h3>口袋购物</h3>
      </ion-col>
      <ion-col col-3>
        <img src="assets/icon/icon-cal.png" alt="" srcset="">
        <h3>日历</h3>
      </ion-col>
    </ion-row>

    <ion-card class="home-tab">
      <div class="tab-lt" (click)="goManager()">
        <img src="assets/icon/icon-bag.png" alt="" srcset="">
      </div>
      <div class="tab-lt" (click)="goManager()">
        <img src="assets/icon/icon-bag.png" alt="" srcset="">
      </div>
      <div class="tab-rt" (click)="goTabs()">
        <img src="assets/icon/icon-file.png" alt="" srcset="">
      </div>
      <div class="tab-rt" (click)="goToMy()">
        <img src="assets/icon/icon-file.png" alt="" srcset="">
      </div>
    </ion-card>
  </ion-grid>
</ion-content>