<ion-content class="no-padding">
  <ion-grid class="mt-48">
    <ion-row class="app-contain">
      <ion-col col-3 class="t-center" *ngFor="let item of getAppInfoList(), let i = index" (press)="pressEvent()"
        (click)="onClick(item)">
        <img src={{item.bigIcon}} alt="">
        <span *ngIf="checked" class="del-ioc" (click)="delEvent(item)"></span>
        <h3>{{item.name}}</h3>
      </ion-col>
    </ion-row>

    <ion-card class="home-tab">
      <div class="tab-lt">
        <img src="assets/icon/icon-home.png" alt="" srcset="">
      </div>
      <div class="tab-lt" (click)="goSamples()">
        <img src="assets/icon/icon-samples.png" alt="" srcset="">
      </div>
      <div class="tab-rt" (click)="goTodo()">
        <img src="assets/icon/icon-todo.png" alt="" srcset="">
      </div>
      <div class="tab-rt" (click)="goToMy()">
        <img src="assets/icon/icon-setting.png" alt="" srcset="">
      </div>
    </ion-card>
  </ion-grid>
</ion-content>