<!-- Generated template for the LocalimportComponent component -->
<!-- <div>
  {{text}}
</div> -->
<!-- <style>
   .import-box {
    background-color: #0064D7;
    height: 112px; 
    text-align: center;
    font-size: 22px;
    color: #fff;
    border-radius: 10px;
  }
  .import-box .button-ios {
    background-color: #0064D7;
  }
  /* .import-box .button-ios img {
    
  } */
</style> -->

<div>
  <button ion-button icon-only>
    <ion-icon>
      <img class="icon-right" src="../../assets/imgs/add.png" alt="">
    </ion-icon>
  </button>
  <ion-card-content>
    <!-- Add card content here! -->
    <div class="title">Import from Local file</div>
  </ion-card-content>
</div>
