<ion-content>
  <ion-grid class="onboard-container">

    <div class="logo-container">
      <img src="assets/icon/dark_mode/elalogo.svg">
    </div>

    <ion-slides
      #slide
      pager="true"
      [options]="slideOpts"
      [class.hidden]="hidden"
    >
      <ion-slide class="ion-padding">
        <div class="slide">
          <h1 class="ion-padding">Welcome to a <br> secure environment</h1>
          <p class="ion-padding">
            What you know about the old internet is blocked within elastOS by default.
            This means you are free to browse decentralized applications, manage a 
            unique identity, and have your own crypto wallet all in a safe, secure sandboxed
            environment where network traffic is restricted.
          </p>
          <div class="btn-container">
            <ion-button mode="ios" color="theme.darkMode ? dark : light" (click)="next(slide)">
              <ion-label>Continue</ion-label>
            </ion-button>
          </div>
        </div>
      </ion-slide>

      <ion-slide class="ion-padding">
        <div class="slide">
          <h1 class="ion-padding">Entire ecosystem that <br> we call 'Capsules'</h1>
          <p class="ion-padding">
            You can browse your favorite Capsules which could be anything from digital assets to mini-websites.
            Keep your favorites on the home screen for easy access and explore more capsules by looking at what 
            your contacts have.
          </p>
          <div class="btn-container">
            <ion-button mode="ios" color="theme.darkMode ? dark : light" (click)="exit()">
              <ion-label>Enter elastOS</ion-label>
            </ion-button>
          </div>
        </div>
      </ion-slide>
  
    </ion-slides>
  </ion-grid>
</ion-content>
