<ion-header>
    <header-bar title="about"></header-bar>
</ion-header>


<ion-content padding>
    <div id="logo">
        <img src="assets/icon/favicon.png" />
        <div>{{('version'|translate) + ': ' + setting.version}}</div>
    </div>
    <ion-list>
        <!-- <ion-item>
            <ion-label>Commit:</ion-label>
            <ion-note slot="end">{{commitVersion}}</ion-note>
        </ion-item> -->
        <ion-item detail (click)="goWebsite('http://www.elastos.org')">
            <ion-label>
                <h2>{{'website'|translate}}:</h2>
                <p>www.elastos.org</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>{{'remark'|translate}}:</ion-label>
        </ion-item>
        <div id="remark">
            Elastos Browser alpha technical preview.
            For developers only. For any issue or question,
            please join us on telegram,
            <a src=# (click)="goWebsite('https://t.me/elastosbrowser')">https://t.me/elastosbrowser</a>.
            To start building a Elastos Browser DApp,
            please read our guides on the developer website at
            <a src=# (click)="goWebsite('https://developer.elastos.org')">https://developer.elastos.org</a>.
        </div>
    </ion-list>
</ion-content>