<ion-header>
    <header-bar title="about"></header-bar>
</ion-header>


<ion-content padding>
    <div id="body">
        <div id="logo">
            <img src="assets/img/logo.jpg" />
            <div>{{('version'|translate) + ': ' + setting.version}}</div>
        </div>
        <ion-list>
            <ion-item detail (click)="goWebsite('http://www.elastos.org')">
                <ion-label>
                    <h2>{{'website'|translate}}:</h2>
                    <p>https://www.elastos.org/</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>{{'remark'|translate}}:</ion-label>
            </ion-item>
            <div id="remark">
                Thank you for trying elastOS. For any issue or question,
                please join us on telegram,
                <a src=# (click)="goWebsite('https://t.me/elastosbrowser')">https://t.me/elastosbrowser</a>.
            </div>
            <div id="remark">
                To start building a elastOS DApp,
                please read our guides on the developer website at
                <a src=# (click)="goWebsite('https://developer.elastos.org')">https://developer.elastos.org</a>.
            </div>
        </ion-list>
    </div>
</ion-content>