<ion-app>
  
    <ion-menu side="start">
      <ion-header no-border>
        <ion-toolbar>
          <ion-title>
            elastOS
          </ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content>
        <ion-list padding-start>
          <ion-menu-toggle>
            <ion-item *ngFor="let app of appManager.nativeApps">
              <ion-label>{{ app.name }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-button (click)="appInstall()">
              <ion-label>Test App Install</ion-label>
            </ion-button>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

  <ion-router-outlet main></ion-router-outlet>

</ion-app>
