// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

// http://ionicframework.com/docs/theming/

//TODO::
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "./functions.scss";

$activeColor: #1b9cff;
$defaulColor: #666666;

header-bar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

:root {
    --ion-text-color: #161723;
    --ion-background-color: #FAFAFA;
    --ion-toolbar-color: #161723;
    --ion-toolbar-background: #ffffff;
}

.my-custom-popup {
    .popover-content {
        width: 95.5%;
        // height: px2rem(420px);
        background-color: #000000;
    }
}

.my-custom-alert {
    text-align: center;
}

.demo_line {
    height: 1px;
    border-top: 1px solid #ddd;
    text-align: center;
}

ion-button {
    text-transform: none;
}

/* ion-icon {
    width: px2rem(64px);
    height: px2rem(64px);
} */

.app-layout {
        margin: 0 auto;
        width: px2rem(150px);
        // height: px2rem(200px);
        justify-content: center;
        align-self: center;
        text-align: center;

        img {
            margin: 0 auto;
            padding: 0;
            width: px2rem(120px);
            height: px2rem(120px);
            border-radius: 8px;
        }

        p {
            margin-top: px2rem(13px);
            padding: 0;
            height: px2rem(33px);
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
}
