@import "./functions.scss";

header-bar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

ion-row {
    .img-container {
        display: flex;
        justify-content: center;

        img {
            border-radius: 15px !important;
            overflow: hidden;
            border: solid 1px black;
            height: 48px;
            width: 48px;
        }
    }

    .dapp-content {
        display: flex;
        align-items: center;

        h2 {
            color: black;
            font-size: 16px;
            font-weight: 600;
            margin: 0;
        }

        p {
            font-size: 9px !important;
            font-weight: 500;
            color: #959595;
            margin: 0;
        }
    }
}