<ion-app>
  
    <ion-menu side="start">
      <ion-header no-border>
        <ion-toolbar>
          <ion-title>
            elastOS Browser
          </ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content>
        <ion-list class="ion-padding-start">
          <ion-menu-toggle>
            <ion-item *ngFor="let app of appManager.nativeApps">
              <ion-grid>
                <ion-row (click)="findApp(app.id)">
                  <ion-col size="2.75" class="img-container">
                    <img [src]="appManager.sanitize(app.icons[0].src)"/>
                  </ion-col>
        
                  <ion-col size="9.25" class="dapp-content">
                    <ion-label>
                      <h2>{{ app.name }}</h2>
                     <!--  <p>{{ app.description.slice(0,70) }}...</p> -->
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

  <ion-router-outlet main></ion-router-outlet>

</ion-app>
