// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

// http://ionicframework.com/docs/theming/

//TODO::
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$activeColor: #1b9cff;
$defaulColor: #666666;

:root {
    --ion-text-color: white;
    --ion-background-color: #161723;
    --ion-toolbar-color: white;
    --ion-toolbar-background: #161723;
}

.my-custom-popup {
    .popover-content {
        width: 95%;
        background-color: #000000;
    }
}

.my-custom-alert {
    text-align: center;
}

ion-title {
    text-align: center;
    --ion-background-color: #161723;
}

.demo_line {
    height: 1px;
    border-top: 1px solid #ddd;
    text-align: center;
}
