page-running {
  .ion-page > ion-content {
    padding: 42px 10px 0 !important;
  }
  .mgt-list {
    margin: 0 12px;
    border-radius: 4px;
    .item-md, .item-ios {
      h3 {
        margin: auto 0;
      }
    }
  }
}
