<ion-content class="no-padding">
    <ion-card class="card-empty" *ngIf="showEmptyCard">
        <div class="icon-empty"></div>
        <div class="empty-ttl">暂无运行中的程序</div>
    </ion-card>
    <ion-grid>
        <ion-list class="mgt-list">
            <ion-item *ngFor="let item of getAppRunList(), let i = index">
                <ion-thumbnail item-start class="full-row">
                    <img src={{item.bigIcon}} alt="">
                    <div class="thum-inner">
                        <h3>{{item.name}}</h3>
                    </div>
                </ion-thumbnail>
                <button ion-button item-end (click)="startApp(item)">start</button>
                <button ion-button item-end (click)="stopApp(item)">stop</button>
            </ion-item>
        </ion-list>
    </ion-grid>
</ion-content>
