<ion-content class="no-padding">
  <ion-card class="card-empty" *ngIf="showEmptyCard">
    <div class="icon-empty"></div>
    <div class="empty-ttl">暂无最近运行的程序</div>
  </ion-card>
  <ion-grid class="mt-48" >
    <ion-row>
      <ion-col col-21 (tap)="tapEvent($event)"></ion-col>
    </ion-row>
    <ion-row class="app-contain">
      <ion-col col-3 *ngFor="let item of getAppRecentList(), let i = index" (press)="pressEvent()" (click)="onClick(item)">
        <img src={{item.bigIcon}} alt="">
        <span *ngIf="checked" class="del-ioc" (click)="stopEvent(item)"></span>
        <h3>{{item.name}}</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid-down" (tap)="tapEvent($event)"></ion-grid>
</ion-content>
