// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'Raleway';
    font-weight: 300;
    font-style: normal;
    src: url('assets/fonts/Raleway-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    src: url('assets/fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway';
    font-weight: 500;
    font-style: normal;
    src: url('assets/fonts/Raleway-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway';
    font-weight: 600;
    font-style: normal;
    src: url('assets/fonts/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
    src: url('assets/fonts/Raleway-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway';
    font-weight: 800;
    font-style: normal;
    src: url('assets/fonts/Raleway-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway';
    font-weight: 900;
    font-style: normal;
    src: url('assets/fonts/Raleway-Black.ttf') format('truetype');
}

:root {
    --ion-text-color: #161723;
    --ion-background-color: #FAFAFA;
    --ion-toolbar-color: #161723;
    --ion-toolbar-background: #FAFAFA;
}

* {
    font-family: 'Raleway' !important;
}

ion-header {
    ion-toolbar {
      .header-btns {
        font-size: 20px;
        padding: 8px;
      }
  
      ion-title {
        font-size: 23px;
        font-weight: 800;
      }
    }
}

ion-popover{
    ion-backdrop{
      opacity: 0.5 !important;
    }
  
    .popover-wrapper{
        .popover-content{
            top: 0% !important;
            left: 0% !important;
            width: 100%;
        }
    }
  }

/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
    left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}
