page-my {

  .my-list {
    margin: 0 12px;
    .item-md, .item-ios {
      margin: 0 !important;
      img {
        margin: 10px;
        height: 60px;
        width: 60px;
      }
      .arrow-rht {
        // .button-inner {
        //   background: url(../../assets/icon/icon-rt.png) no-repeat;
        //   background-size: cover;
        //   height: 24px;
        //   width: 14.5px;
        // }
        z-index: 99;
        img {
          margin: 0;
          height: 24px;
          width: 14.5px;
        }
      }
    }
    .item-block:first-child {
      border: none;
    }
    .item-md ion-thumbnail[item-start] {
      margin: 0;
    }
    .list-header-md {
      min-height: 3.5rem;
    }
  }
}
