@import "../functions.scss";

ion-segment {
  background: #5a62ff;

  ion-segment-button {
    ion-icon {
      font-size: 33px;
    }

    ion-img {
      width: 45px;
      height: 45px;
    }

    ion-label {
      margin-top: 2px;
      text-transform: none;
      font-size: 11px;
      font-weight: 800;
      line-height: 14px;
      letter-spacing: 0.55px;
    }
  }
}

ion-item {
  --padding-start: 0px;
  --padding-end: 0px;

  ion-row {
    padding: 5px 0;
    border-bottom: 1px solid rgb(230, 230, 230);
  
    .img-container {
      display: flex;
      justify-content: center;
      align-items: center;
  
      img {
        border-radius: 15px !important;
        overflow: hidden;
        height: 48px;
        width: 48px;
      }
    }
  
    .dapp-content {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      h2, p {
        margin: 0;
        // color: black !important;
      }

      h2 {
        font-size: 16px;
        font-weight: 600;
      }

      p {
        font-size: 9px !important;
        font-weight: 500;
      }
    }

    .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;

      ion-icon, ion-img {
        height: 24.9px;
        width: 22.9px;
        color: #ffde6e;
      }
    }
  }
}

.darkMode {
  background: #121212;
  color: #ffffff;
}

.activeTab {
  color: white;
}