<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="header-btns">
      <ion-menu-toggle>
          <ion-icon mode="ios" name="bookmarks"></ion-icon>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-buttons slot="end" class="header-btns">
      <ion-button fill="clear">
        <ion-icon mode="ios" name="pulse"></ion-icon>
      </ion-button>
      <span class="point" *ngIf="appManagerService.runningList.length > 0"></span>
    </ion-buttons>
    
    <ion-progress-bar *ngIf="appManagerService.installing" type="indeterminate"></ion-progress-bar>

   <!--    <ion-button fill="clear" (click)="openScan()">
        <ion-icon slot="icon-only" name="scan"> </ion-icon>
      </ion-button>

      <ion-button
        fill="clear"
        [routerLink]="['/my']"
        routerDirection="forward"
        (ionFocus)="touched = true"
        (ionBlur)="touched = false"
      >
        <ion-icon
          slot="icon-only"
          [name]="touched ? 'my-light' : 'my-dark'"
        ></ion-icon>
      </ion-button> -->

    <!--   <ion-button slot="start" fill="clear" (click)="popoRunningManager($event)">
        <ion-icon
          slot="icon-only"
          [name]="popup ? 'switch-light' : 'switch-dark'"
        ></ion-icon>
      </ion-button> -->
  </ion-toolbar>

</ion-header>

<ion-content no-margin no-padding>

  <div id="home-bg" padding>

    <ion-card class="apps-card" *ngFor="let section of sections">
      <ion-row class="app-header" padding>
        <ion-col size="9" class="section-title" padding><p>{{ section }}</p></ion-col>
        <ion-col size="3" class="section-btn" padding><p> View All</p></ion-col>
      </ion-row>

      <div *ngIf="section === 'Browsing History'">
        <ion-item-sliding *ngFor="let app of appManagerService.browsedApps">
          <ion-item>
            <ion-grid no-padding>
              <ion-row>
                <ion-col size="2.5" size-lg="2.5" class="img-container" (click)="findApp(app.id)">
                <img [src]="appManagerService.sanitize(app.icons[0].src)"/>
                </ion-col>
    
                <ion-col size="8" size-xs="8" class="dapp-content" (click)="findApp(app.id)">
                  <ion-label>
                    <h2>{{ app.name }}</h2>
                    <p>{{ app.description.slice(0,70) }}...</p>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-item-sliding>
      </div>

      <div *ngIf="section === 'Installed'">
        <ion-item-sliding *ngFor="let app of appManagerService.installedApps">
          <ion-item>
            <ion-grid no-padding>
              <ion-row>
                <ion-col size="2.5" size-lg="2.5" class="img-container" (click)="findApp(app.id)">
                <img [src]="appManagerService.sanitize(app.icons[0].src)"/>
                </ion-col>
    
                <ion-col size="8" size-xs="8" class="dapp-content" (click)="findApp(app.id)">
                  <ion-label>
                    <h2>{{ app.name }}</h2>
                    <p>{{ app.description.slice(0,70) }}...</p>
                  </ion-label>
                </ion-col>
  
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item-options side="start">
            <ion-item-option class="itemOption">
              <div padding-horizontal (click)="favApp(app)">
                  <div text-center><ion-icon mode="ios" name="star"></ion-icon></div>
                <ion-label>Favorite</ion-label>
              </div>
            </ion-item-option>
          </ion-item-options>
          <ion-item-options side="end">
            <ion-item-option class="itemOption" color="danger">
              <div padding-horizontal (click)="removeApp(app)">
                <div text-center><ion-icon mode="ios" name="remove-circle"></ion-icon></div>
                <ion-label>Uninstall</ion-label>
              </div>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </div>

      <div *ngIf="section === 'Bookmarks'">
        <ion-item-sliding *ngFor="let app of getBookmarks()">
          <ion-item>
            <ion-grid no-padding>
              <ion-row>

                <ion-col size="2.5" size-lg="2.5" class="img-container" (click)="findApp(app.id)">
                <img [src]="appManagerService.sanitize(app.icons[0].src)"/>
                </ion-col>
    
                <ion-col size="8" size-xs="8" class="dapp-content" (click)="findApp(app.id)">
                  <ion-label>
                    <h2>{{ app.name }}</h2>
                    <p>{{ app.description.slice(0,70) }}...</p>
                  </ion-label>
                </ion-col>
    
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item-options side="start">
            <ion-item-option class="itemOption">
              <div padding-horizontal (click)="favApp(app)">
                <div text-center><ion-icon mode="ios" name="star"></ion-icon></div>
                <ion-label>Favorite</ion-label>
              </div>
            </ion-item-option>
          </ion-item-options>
          <ion-item-options side="end">
            <ion-item-option class="itemOption" color="danger">
              <div padding-horizontal (click)="removeBookmark(app)">
                  <div text-center><ion-icon mode="ios" name="remove-circle"></ion-icon></div>
                  <ion-label>Unbookmark</ion-label>
              </div>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </div>

      <div *ngIf="section === 'Favorites'">
        <ion-item-sliding *ngFor="let app of getFavorites()">
          <ion-item>
            <ion-grid no-padding>
              <ion-row>

                <ion-col size="2.5" size-lg="2.5" class="img-container" (click)="findApp(app.id)">
                  <img [src]="appManagerService.sanitize(app.icons[0].src)"/>
                </ion-col>

                <ion-col size="8" size-xs="8" class="dapp-content" (click)="findApp(app.id)">
                  <ion-label>
                    <h2>{{ app.name }}</h2>
                    <p>{{ app.description.slice(0,70) }}...</p>
                  </ion-label>
                </ion-col>
    
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item-options side="start">
            <ion-item-option class="itemOption">
              <div padding-horizontal (click)="bookmarkApp(app)">
                <div text-center><ion-icon mode="ios" name="star"></ion-icon></div>
                <ion-label>Bookmark</ion-label>
              </div>
            </ion-item-option>
          </ion-item-options>
          <ion-item-options side="end">
            <ion-item-option class="itemOption" color="danger">
              <div padding-horizontal (click)="removeFavorite(app)">
                <div text-center><ion-icon mode="ios" name="remove-circle"></ion-icon></div>
                <ion-label>Unfavorite</ion-label>
              </div>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </ion-card>
  </div>
  
</ion-content>
