@import "../functions.scss";

ion-segment {
  background: #5a62ff;

  ion-segment-button {
    border-bottom: 4px solid transparent;
    --border-color:#5a62ff !important;
    --border-radius: 0;
    --border-style: none;
    --ion-color-base: transparent;

    ion-icon {
      font-size: 33px;
    }

    ion-img {
      margin-top:15px;
      width: 45px;
      height: 25px;
    }

    ion-label {
      margin-top: 2px;
      margin-bottom:15px;
      text-transform: none;
      font-size: 11px;
      font-weight: 800;
      line-height: 14px;
      letter-spacing: 0.55px;
      color: #4148c7;
    }
  }
}

.apps-container {
  border-top: 1px solid rgba(255, 255, 255, 0.11);

  ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
  
    ion-row {
      padding: 5px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.11);
      box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.11);
    
      .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    
        img {
          border-radius: 15px !important;
          overflow: hidden;
          height: 48px;
          width: 48px;
        }
      }
    
      .dapp-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
  
        h2, p {
          margin: 0;
        }
  
        h2 {
          font-size: 16px;
          font-weight: 600;
        }
  
        p {
          font-size: 9px !important;
          font-weight: 500;
        }
      }
  
      .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
  
        ion-icon, ion-img {
          height: 24.9px;
          width: 22.9px;
          color: #ffde6e;
        }
      }
    }
  }
}

.no-apps-container {
  height: 100%;

  .no-apps-header {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .no-apps-head {
      height: 140px;
      width: 140px;
      border-radius: 100%;
      background: #5a62ff;
      margin-bottom: 25%;
    }
  }

  .no-apps-msg {
    height: 50%;
    width: 100%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    transform: scale(1.5);
    background: #5a62ff;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 600;
      line-height: 3.71;
      letter-spacing: 1.2px;
      color: #ffffff;
    }

    p {
      font-size: 8px;
      font-weight: 500;
      line-height: 1.29;
      letter-spacing: 0.7px;
      text-align: center;
      color: #ffffff;
    }
  }
}

.darkMode {
  background: #1A1B1E;
  color: #ffffff;
}

.lightMode {
  border-top: 2px solid rgba(0, 0, 0, 0.11);
}

.activeTab {
  border-color: white !important;

  ion-img {
    fill: white !important;
    filter: brightness(0) invert(1);
  }

  ion-label {
    color: white !important;
  }
}