<div>
    <div id="empty" *ngIf="appManager.runningList.length == 0">
        <div>
            <img src="assets/img/empty.png" alt="">
            <p>{{'no-running' | translate}}</p>
        </div>
    </div>
    <div *ngIf="appManager.runningList.length > 0">
        <div id="running-title">{{'running' | translate}}</div>
        <ul dragula="Runnings" [(dragulaModel)]="appManager.runningList">
            <li *ngFor="let app of runningApps">
                <div class="app-layout" (click)="onClick(app.id)" (press)="pressed=true;">
                    <img [src]="appManager.sanitize(app.icons[0].src)" />
                    <p>{{ app.name }}</p>
                </div>
            </li>
        </ul>
        <div *ngIf="pressed" id="close" dragula="Runnings" [(dragulaModel)]="empty">
            <ion-icon name="close"></ion-icon>
            <p>{{'drag-and-close' | translate}}</p>
        </div>
    </div>
</div>